
@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@

<h1> @ViewBag.Greeting ASP.NET MVC World ! ! ! </h1>

<ul>
  <li> @ViewBag.X </li>
  <li> @ViewBag.R </li>
  <li> @ViewBag.P </li>
</ul>
